<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Ghost Angular</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/site.css">

        <script src="//localhost:35729/livereload.js"></script>
    </head>
    <body ng-app="ghost-angular">
        <div ui-view></div>

        <script type='text/javascript' src='src/js/bower_components/lodash/lodash.js'></script> 
        <script type='text/javascript' src='src/js/bower_components/angular/angular.js'></script> 
        <script type='text/javascript' src='src/js/bower_components/angular-ui-router/release/angular-ui-router.js'></script> 
        <script type='text/javascript' src='src/js/bower_components/jquery/dist/jquery.js'></script> 

        <script type='text/javascript' src="src/js/app.js"></script>
        
        <!-- build:js js/templates.js -->
        <script type='text/javascript' src="src/js/templates.js"></script>
        <!-- endbuild -->
    
        <script type='text/javascript' src="src/js/services/posts.js"></script>
        <script type='text/javascript' src="src/js/services/settings.js"></script>
        <script type='text/javascript' src="src/js/services/users.js"></script>

        <script type='text/javascript' src="src/js/directives/excerpt.js"></script>
        <script type='text/javascript' src="src/js/directives/posts.js"></script>
        <script type='text/javascript' src="src/js/directives/pagination.js"></script>

        <script type='text/javascript' src="src/js/controllers/blog.js"></script>
        <script type='text/javascript' src="src/js/controllers/posts.js"></script>
        <script type='text/javascript' src="src/js/controllers/post.js"></script>
        <script type='text/javascript' src="src/js/controllers/user.js"></script>

        <script type='text/javascript' src="src/js/config.js"></script>
        <script type='text/javascript' src="src/js/routes.js"></script>
    </body>
</html>