<div class="about">
	<div class="item fa fa-info" ng-click="toggle()"></div>
	<div class="paragraph">
		<p>
			All of these loaders were built with a single <span class="code">&lt;div/&gt;</span> element.
		</p>
		<p>
			Using a single element made this a fun "CSS Golf" project. Each animation was achieved using only <span class="code">::before</span> and <span class="code">::after</span> pseudo selectors, plus appropriate manipulations of shadows, borders, gradients, etc." 
		</p>
		<p>
			These animations are licensed <a target="_blank" href="https://github.com/patrickdbakke/loader/blob/master/LICENSE">MIT</a>. The source is available as SCSS <span class="code">@mixins</span> on <a target="_blank" href="https://github.com/patrickdbakke/loader">Github</a>.
		</p>
	</div>
</div>