<header class="main-header" ng-style="{'background-image': 'url(' + blog.cover + ')'}">
    <nav class="main-nav overlay clearfix">
        <a ng-if="blog.logo" class="blog-logo" href="{{blog.url}}/">
        	<img ng-src="{{blog.logo}}" alt="Blog Logo" />
        </a>
        <a class="subscribe-button icon-feed" href="{{blog.url}}/rss/">Subscribe</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{blog.title}}</h1>
            <h2 class="page-description">{{blog.description}}</h2>
        </div>
    </div>
</header>