<div class="social">
	<a class="item me" href="/">
		<span class="hidden">home</span>
	</a>
	<a class="item fa fa-linkedin" href="{{linkedin}}">
		<span class="hidden">linkedin</span>
	</a>
	<a class="item fa fa-github" href="{{github}}">
		<span class="hidden">github</span>
	</a>
	<div class="break"></div>
	<a class="item fa fa-twitter" href="{{twitter}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
		<span class="hidden">Twitter</span>
	</a>
	<a class="item fa fa-facebook" href="{{facebook}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
		<span class="hidden">Facebook</span>
	</a>
	<a class="item fa fa-google-plus" href="{{gplus}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
		<span class="hidden">Google+</span>
	</a>
</div>